<body>
  <h1>Bienvenido a BetCraxker</h1>

  <div class="cards">
    <div *ngFor="let league of leagues_data">
      <a [routerLink]="['/league', league.id]">
        <p-card [header]="league.name" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
              <img class="img__card" alt="Card" [src]="league.logo || '' "/>
          </ng-template>
          <p>
            Explora la Premier League, donde la competencia y la pasión se unen en cada partido. Únete a la emoción mientras los equipos luchan por la victoria en una liga llena de momentos inolvidables y rivalidades intensas.
          </p>
        </p-card>
      </a>
    </div>
  </div>
</body>
