body{
  width: 70%;
  margin: 0 auto;
}

body h1{
  margin: 15px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333; /* Color del texto */
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

a{
  text-decoration: none;
}

:host ::ng-deep .p-card .p-card-subtitle,
:host ::ng-deep .p-card .p-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #333; /* Color del texto */
}

:host ::ng-deep .p-card {
  width: 30%;
  display: flex;
  height: 400px;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-card-header {
  text-align: center;
  width: 100px;
  height: min-content;
  margin: 0 auto;
}

