body {
  width: 70%;
  margin: 0 auto;
}

body h1 {
  margin: 15px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333; /* Color del texto */
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.table {
  margin-top: 10px;
}

.team-icon{
  width: 20px;
  height: 20px;
}

.subtitle {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Color del texto */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

a {
  text-decoration: none;
}

:host ::ng-deep .p-card .p-card-subtitle,
:host ::ng-deep .p-card .p-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #333; /* Color del texto */
}

:host ::ng-deep .p-card {
  width: 30%;
  display: flex;
  height: 420px;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-card:hover {
  transform: scale(1.02); /* Escala el elemento al 105% del tamaño original */
  transition: transform 0.3s ease; /* Agrega una transición suave */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra sutile para dar profundidad */
}

:host ::ng-deep .p-card-header {
  text-align: center;
  width: 100px;
  height: min-content;
  margin: 0 auto;
}

