*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: #E04742;
}

.nav__main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav__item{
    text-decoration: none;
    list-style: none;
}

.nav__item-link{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    font-weight: semi-bold;
    transition: all 0.3s ease;
}

.nav__item-link:hover{
    color: #fff;
    background-color: #ff6969;
}
