<nav class="nav">
    <ul class="nav__main-container">
        <li class="nav__item">
            <a class="nav__item-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__item-link" routerLink="/" routerLinkActive="active">Mis Selecciones</a>
        </li>
        <li class="nav__item">
            <a class="nav__item-link" routerLink="/" routerLinkActive="active">Descubrir</a>
        </li>
        <li class="nav__item">
            <a class="nav__item-link" routerLink="/" routerLinkActive="active">Perfil</a>
        </li>
    </ul>
</nav>
