<body>
  <div class="league-title">
    <h4>{{ league_name }}</h4>
    <img src="{{league_icon}}" alt="Imagen liga" class="league-icon">
  </div>
  <p-table [value]="teams" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Logo</th>
            <th>Estadio</th>
            <th>Capacidad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team>
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.city }}</td>
            <td><img class="team-icon" src="{{ team.logo }}" alt="Logo equipo"></td>
            <td>{{ team.name_venue }}</td>
            <td>{{ team.capacidad_venue }}</td>
        </tr>
    </ng-template>
  </p-table>
</body>
